__pycache__
Pensum/
sandkasse/
sandkasser/
excercises/
sandkasse.py
.DS_store
.vscode
channel_out/
max_out/

*.blg
*.aux
*.bbl
*.fdb_latexmk
*.log
*.fls
*.log
*.out
*.run.xml
*.gz
*.bcf
*.toc


*.npz

*/tex/main-blx.bib
*/tex/main.pdf
